.bg-main-color {
  background-color: #f7fafd;
}

.bg-pink {
  background-color: #FF4B63;
}

.bg-blue {
  background-color: #E5EDF5;
}

.bg-light-purple {
  background-color: #E8E3F9;
}

.bg-light-green {
  background-color: #D5F2ED;
}

.bg-light-red {
  background-color: #F7E1E7;
}

.bg-light-yellow {
  background-color: #F7EFD9;
}

.bg-light-blue {
  background-color: #DDF0F9;
}