footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #7777;
  min-height: 380px;
  align-items: end;
  justify-content: center;
}

.container-footer-top {
  max-width: 100%;
  display: flex;

}

.container-footer-list {
  margin-right: 4%;
  width: 400px;
}

.container-footer-top-left {
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 15px;
  padding: 20px;
}

.container-footer-top-right {
  display: flex;
  width: 30%;
  gap: 20px;
}

.container-footer-top-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.container-footer-bottom {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}