  @media only screen and (max-width: 1023px) {
    .container-card-text {
      width: 380px;
      padding: 5px;
    }

    .container-cards-row {
      flex-direction: column;
      align-items: center;
    }

    .container-card {
      width: 100%;
      margin: 0;
    }

    .container-logo img {
      width: 100%;
    }

    .navbar {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .menu {
      width: 100vw;
      overflow: hidden;
    }

    .menu ul {
      overflow-x: auto;
      width: 100%;
    }

    .description-container-row {
      flex-wrap: wrap;
    }

    .description-container-section-left,
    .description-container-section-right {
      width: 100%;
      padding: 0;
    }

    .container-box {
      width: 50%;
      height: auto;

    }

    .container-icons-bottom {
      flex-wrap: wrap;
      padding: 20px;
      height: 100%;
    }

    .container-white-circle-right-bottom,
    .container-left-white-circle,
    .container-white-circle-left,
    .container-white-circle-right {
      width: 10%;
      height: auto;
    }


    .yellow-circle,
    .container-white-circle-left-bottom {
      width: 100%;
      height: auto;
    }

    .container-img-phone {
      width: 40%;
      height: auto;
    }

    .blue-circle-bottom {
      width: 100%;

    }

    .container-bottom-download {
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .container-footer-top,
    .container-footer-list {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .container-footer-top-left {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-top: 20px;
      flex-wrap: wrap;
    }

    .container-footer-top-right {
      width: 100%;
      padding: 10px;
    }

    .description-container-text {
      width: 100%;
    }

    .description-container-row {
      padding: 20px;
    }

    .description-container-buttons-top {
      width: 100%;
    }

    .container-figures {
      margin-top: 180px;
    }

    .container-buttons-download {
      flex-wrap: wrap;
    }

    .container-buttons-download button {
      width: 100%;
    }

    .logo {
      padding: 5% 2%;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .container-white-circle-top {
      width: 12%;
    }
  }