// custom.scss
@import '../../../node_modules/bootstrap/scss/bootstrap.scss'; 

$bg-danger: #FF4B63;
$text-danger:#FF4B63;
$btn-danger-hover-bg: #FF4B63;
$btn-outline-danger: #FF4B63;
$btn-danger-hover-border: #FF4B63;
$btn-danger-hover-color:#FF4B63;
$h1-font-size:5rem;